if ARCH_DAVINCI

menu "TI DaVinci Implementations"

comment "DaVinci Core Type"

config ARCH_DAVINCI644x
	default y
	bool "DaVinci 644x based system"

comment "DaVinci Board Type"

config MACH_ITDM644X_10
	bool "Ingenient Technologies DM644X-10"
	default y
	depends on ARCH_DAVINCI644x
	help

config MACH_DAVINCI_EVM
	bool "TI DaVinci EVM"
	default n
	depends on ARCH_DAVINCI644x
	help
	  Configure this option to include support for DaVinci EVM

config MACH_DAVINCI_DVDP
	default n
	depends on ARCH_DAVINCI644x
	help
	  Obsolete machine type

# Legacy machine type 
config MACH_DAVINCI_DVDP
        bool
        depends on MACH_DAVINCI_EVM
        default y
        
config DAVINCI_I2C_EXPANDER
	bool "TI DaVinci I2C Expander"
	default y
	depends on ARCH_DAVINCI644x
	help
	  Configure this option to specify whether the board used
	  has I2C exapnder with ATA, USB, CF.

comment "DaVinci Options"

config DAVINCI_SYSCLK_FREQ
	int "TI DaVinci ARM Clock Frequency in KZ"
	default 229500
	help
	 Configure this option to set the initial running frequency of ARM.

config DAVINCI_MEMSIZE
	int "TI DaVinci Memory Size for Linux in MB"
	default 256
	help
	  Select this option to configure the memory available for Linux
	  on DaVinci EVM.

config DAVINCI_BLK_DEV_CF
	bool "TI DaVinci CF Card Support"
	default Y
	depends on BLK_DEV_DAVINCI
	help
	  Configure this option to enable CF Card support.

config DAVINCI_ENABLE_UART1
	bool "Enable UART1 support"
	depends on !BLK_DEV_IDEDMA_DAVINCI
	default n
	help
	    UART1 is pin-multiplexed with the IDE-DMA pins.
	    If your application needs IDE-DMA, say N.

config DAVINCI_ENABLE_UART2
	bool "Enable UART2 support"
	default y
	help
	    UART2 is pin-multiplexed with 16-bit video capture port.
	    16-bit video capture is only needed for HD applications.
	    If your video capture is not Hi Definition, you
	    may safely say Y here.
endmenu

endif
