config FB_OMAP
    tristate "OMAP frame buffer support (EXPERIMENTAL)"
        depends on FB
        help
          Frame buffer driver for OMAP based boards.

config FB_OMAP_LCDC_INTERNAL
    bool "Internal LCD controller support"
    depends on FB_OMAP
    help
      Say Y here, if you want to have support for the internal OMAP
      LCD controller.  Can only select internal TV controller support 
      or internal LCD controller support, not both.  If unsure, say Y.

config FB_OMAP_LCDC_SHARP01
    bool "LCD controller is SHARP01"
    depends on FB_OMAP_LCDC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for SHARP 01.
      If unsure, say Y.

config FB_OMAP_LCDC_CASIO01
    bool "LCD controller is CASIO01"
    depends on FB_OMAP_LCDC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for CASIO 01.
      If unsure, say N.

config FB_OMAP_TVC_INTERNAL
    bool "Internal TV controller support"
    depends on FB_OMAP
    help
      Say Y here, if you want to have support for the internal OMAP
      TV controller. Can only select internal TV controller support 
      or LCD internal controller support, not both.  If unsure, say N.

config FB_OMAP_TVC_PAL_BDGHI_PANEL
    bool "TV controller is PAL BDGHI"
    depends on FB_OMAP_TVC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for TV PAL BDGHI.
      If unsure, say N.

config FB_OMAP_TVC_PAL_NC_PANEL
    bool "TV controller is PAL NC"
    depends on FB_OMAP_TVC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for TV PAL NC.
      If unsure, say N.

config FB_OMAP_TVC_PAL_N_PANEL
    bool "TV controller is PAL N"
    depends on FB_OMAP_TVC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for TV PAL N.
      If unsure, say N.

config FB_OMAP_TVC_PAL_M_PANEL
    bool "TV controller is PAL M"
    depends on FB_OMAP_TVC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for TV PAL M.
      If unsure, say N.

config FB_OMAP_TVC_PAL_60_PANEL
    bool "TV controller is PAL 60"
    depends on FB_OMAP_TVC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for TV PAL 60.
      If unsure, say N.

config FB_OMAP_TVC_NTSC_J_PANEL
    bool "TV controller is NTSC J"
    depends on FB_OMAP_TVC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for TV NTSC J.
      If unsure, say N.

config FB_OMAP_TVC_NTSC_443_PANEL
    bool "TV controller is NTSC 443"
    depends on FB_OMAP_TVC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for TV NTSC 443.
      If unsure, say N.

config FB_OMAP_TVC_NTSC_M_PANEL
    bool "TV controller is NTSC M"
    depends on FB_OMAP_TVC_INTERNAL && ARCH_OMAP2430
    help
      Say Y here, if you want to have support for TV NTSC M.
      If unsure, say Y.

config FB_OMAP_LCDC_EXTERNAL
    bool "External LCD controller support"
    depends on FB_OMAP
    help
      Say Y here, if you want to have support for boards with an
      external LCD controller connected to the SoSSI/RFBI interface. 

config FB_OMAP_MANUAL_UPDATE
    bool "Default to manual update mode"
    depends on FB_OMAP && FB_OMAP_LCDC_EXTERNAL
    help
      Say Y here, if your user-space applications are capable of
      notifying the frame buffer driver when a change has occured in
          the frame buffer content and thus a reload of the image data to
      the external frame buffer is required. If unsure, say N.

config FB_OMAP_DMA_TUNE
        bool "Set DMA SDRAM access priority high"
        depends on FB_OMAP && ARCH_OMAP1
        help
          On systems in which video memory is in system memory
          (SDRAM) this will speed up graphics DMA operations.
          If you have such a system and want to use rotation
          answer yes. Answer no if you have a dedicated video
          memory, or don't use any of the accelerated features.

