menu "Ingenient DMA Options"
	depends on ARCH_ITDM320_20 || ARCH_ITDM340_10

choice
	prompt "Device DMA Utilization"
	default DMA_NET

config DMA_NET
	bool "Network DMA"

config DMA_HDD
	bool "Hard-Disk DMA"
endchoice


endmenu
