menu "Neuros DMA Options"
	depends on ARCH_NTOSD_DM320

choice
	prompt "Device DMA Utilization"
	default DMA_NET

config DMA_NET
	bool "Network DMA"

config DMA_HDD
	bool "Hard-Disk DMA"
endchoice

config INGENIENT_BSP
	bool
	default y

endmenu
